{% extends "base.html" %}
{% block title %}Lista plików{% endblock %}

{% block body %}

<h4>Moje pliki</h4>
<table>
    <thead>
        <tr>
            <th>Nazwa pliku</th>
            <th>Typ</th>
            <th>Informacje</th>
            <th>Akcje</th>
        </tr>
    </thead>

    <tbody>
    {% for assignment in my_assignments %}
        <tr>
            <td>{{ assignment["file"]["file_name"] }}</td>
            <td>
                {% if assignment["file"]["file_type"] == "TEXT" %}
                Notatka
                {% else %}
                Plik
                {% endif %}
            </td>
            <td>
                {% if assignment["file"]["is_public"] %}
                publiczny
                {% else %}
                prywatny
                {% endif %}
                {% if assignment["file"]["file_manually_encoded"] %}
                szyfrowany
                {% endif %}
            </td>
            <td>
                {% if assignment["file"]["file_type"] == "TEXT" %}
                    <a href='/files/show/{{ assignment["file"]["file_code"] }}'>Wyświetl</a>,
                {% endif %}
                <a href='/files/edit/{{ assignment["file"]["file_code"] }}/'>Edytuj</a>, 
                <a href='/files/delete/{{ assignment["file"]["file_code"] }}'>Usuń</a>, 
                Udostępnij, 
                <a href='/files/download/{{ assignment["file"]["file_code"] }}' target="_blank">Pobierz</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<br />

<h4>Udostępnione pliki</h4>
<table>
    <thead>
        <tr>
            <th>Nazwa pliku</th>
            <th>Informacje</th>
            <th>Akcje</th>
        </tr>
    </thead>

    <tbody>
    {% for assignment in shared_assignments %}
        <tr>
            <td>{{ assignment["file"]["file_name"] }}</td>
            <td>Tu będą info</td>
            <td>Edytuj, Usuń, Udostępnij, Pobierz</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}